# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

#added by me
*.vs*
#*CMakeSettings*
#CMakeSettings.json
*/code/obsolete*

# Ignore contents of build, but not build
build/*
# I dunno how else to include the build dir...
!build/build.txt
out*

*__pycache__*
/dev/energy_data.bin
/dev/PyTools/Energies.py

# Ignore all files in the deb build folder, except the .deb file
/distribution/debian/build/*
!/distribution/debian/build/*.deb
*.debhelper*

/dev/VMDscripts/*
!/dev/VMDscripts/instructions.txt
!/dev/VMDscripts/makefilm.tcl




# Tests
/tests/userinterfacetests/*
!/tests/userinterfacetests/test.gro
!/tests/userinterfacetests/test.top

dev/VMDscripts/frames/*
dev/VMDscripts/*.gro
dev/VMDscripts/*.trr