Source: lima
Section: misc
Priority: optional
Maintainer: Daniel <daniel@lima-dynamics.com>
Build-Depends: debhelper-compat (= 13), curl
Standards-Version: 4.5.0
Homepage: http://www.lima-dynamics.com

Package: lima
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, libglu1-mesa, libglvnd0
Description: The Molecular Dynamics engine for the Generative Era
 LIMA is a high-performance molecular dynamics engine designed for modern scientific computations and generative modeling.
